<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>e-Commerce</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"/>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<!-- HEADER -->
<div th:replace="fragments/header.html :: header"></div>

<!-- MAIN -->
<main class="container my-4">
    <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th class="col-md-3">Data da compra</th>
            <th class="col-md-5">Compra</th>
            <th class="col-md-3">Status do pagamento</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="v : ${vendas}">
            <td th:text="${#temporals.format(v.updatedAt)}"></td>
            <td>
                <span th:if="${#lists.size(v.itens) <= 2}"
                      th:text="${#strings.listJoin(v.itens.![produto.descricao], ', ')}"></span>
                <span th:if="${#lists.size(v.itens) > 2}"
                      th:text="|${v.itens[0].produto.descricao} e outros ${#lists.size(v.itens) - 1} produtos|"></span>
            </td>
            <td th:text="${v.pagamento != null ? 'Pago' : 'Aguardando pagamento'}"></td>
            <td class="text-end">
                <a class="btn btn-outline-dark btn-sm" th:href="@{/vendas/detail/{id}(id=${v.id})}"
                   title="Detalhes">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-list-ul" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    </svg>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</main>

<!-- FOOTER -->
<div th:replace="~{fragments/footer.html :: footer}"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script th:src="@{/scripts/navlink-hover.js}"></script>
</body>
</html>