<ul class="nav nav-pills justify-content-end"
    th:fragment="product-nav-pills">
    <li class="nav-item">
        <a class="nav-link" th:href="@{/produtos/list}"
           th:classappend="${#strings.startsWith(#request.servletPath, '/produtos') ? 'active' : ''}">
            Produtos
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/marcas/list}"
           th:classappend="${#strings.startsWith(#request.servletPath, '/marcas') ? 'active' : ''}">
            Marcas
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/categorias/list}"
           th:classappend="${#strings.startsWith(#request.servletPath, '/categorias') ? 'active' : ''}">
            Categorias
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/precos/list}"
           th:classappend="${#strings.startsWith(#request.servletPath, '/precos') ? 'active' : ''}">
            Preços
        </a>
    </li>
</ul>


<ul class="nav nav-pills justify-content-end"
    th:fragment="client-nav-pills">
    <li class="nav-item">
        <a class="nav-link" th:href="@{/clientes/list}"
           th:classappend="${#strings.indexOf(#request.servletPath, '/enderecos') == -1  ? 'active' : ''}">
            Clientes
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/clientes/enderecos/list}"
           th:classappend="${#strings.indexOf(#request.servletPath, '/enderecos') != -1 ? 'active' : ''}">
            Endereços
        </a>
    </li>
</ul>
