svg.bi {
    vertical-align: -0.125em;
}

main {
    min-height: 100vh;
}

.nav-pills .nav-link {
    color: var(--bs-dark);
}

.nav-pills .nav-link:hover {
    color: var(--bs-gray);
}

.nav-pills .nav-link.active {
    color: var(--bs-white) !important;
    background: var(--bs-dark) !important;
}

.grayscale {
    filter: grayscale(100%);
}