<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>e-Commerce</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"/>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<!-- HEADER -->
<div th:replace="fragments/header.html :: header"></div>

<!-- MAIN -->
<main class="container my-4">
    <h3>Meu carrinho</h3>
    <hr/>

    <form id="cart-form" method="post" th:action="@{/carrinho/purchase}" th:object="${venda}">
        <table class="table table-condensed table-striped table-hover">
            <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-2">Quantidade</th>
                <th class="col-md-7">Produto</th>
                <th class="col-md-1">Valor</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,stat : ${venda.itens}">
                <input type="hidden" th:field="*{itens[__${stat.index}__].produto}" />

                <td class="align-middle" th:text="${stat.count}"></td>
                <td>
                    <input type="number" id="quantidadeInput" class="form-control product-count"
                           th:field="*{itens[__${stat.index}__].quantidade}" value="1" />
                </td>
                <td class="align-middle" th:text="|${item.produto.descricao} ${item.produto.marca.nome}|"></td>
                <td class="align-middle" th:text="${#numbers.formatCurrency(item.total())}"></td>
                <td class="align-middle text-end">
                    <a class="btn btn-outline-danger btn-sm" title="Excluir"
                       th:href="@{/carrinho/delete/{id}(id=${item.produto.id})}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd"
                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="4">Total</td>
                <td id="#soma-produtos" th:text="${#numbers.formatCurrency(venda.total())}"></td>
            </tr>
            </tbody>
        </table>

        <button type="submit">ENVIAR</button>
    </form>
</main>

<!-- FOOTER -->
<div th:replace="~{fragments/footer.html :: footer}"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script th:src="@{/scripts/navlink-hover.js}"></script>
<script>
    $(() => {
       $('.product-count').each((_, el) => {
           $(el).on('change', () => $('#cart-form').submit());
       });
    });
</script>
</body>
</html>